.links {
    float: right;
    width: 10%;
    margin: auto;
    position: relative;
}

.block {
    position:absolute;
    top:50%;
    margin-top: 0.9em;
}

.links a {
    color: blue;

}

.links li {
    display: flex;
}

.links img {
    margin-right: 5px;
    margin-left: 5px;
    width: 30px;
}
