.app-wrapper {
  display: grid;
  margin: auto;
  grid-template-areas: "h" "c";
  grid-template-rows: 60px 10fr;
  /*grid-gap: 10px;*/
}

.app-wrapper-content {
  grid-area: c;
  /* Добавляем фон */
  background: #fcf1d3 url(shomen.jpg) no-repeat 100% 100%;
  background-size: 100% 100%;
}
.bgr {
  background: rgba(255, 255, 255, 0.5);
}
